
BODY {
font-family: 'Open Sans', arial, sans-serif;
color:#444;
font-weight: 400;
}

  #Headline {
font-size:3em;
font-weight: 700;
text:align; left;
font-family: "Montserrat"}



#title {
color:#33485e;
text-transform:uppercase;
font-size: 1.5em;
font-weight: 600;
margin-top:20px;
margin-bottom:0;
margin-left:0;
margin-right:0;

}

.sectionheader {
font-size:1.5em;
text-transform:uppercase;
background-color:#33485e;
color:#ffffff;
margin-top:20px;
margin-bottom:10px;
margin-left:0;
margin-right:0;
width:70%;
mid-width:300px;
}

.jobtitle {
font-weight:600;
font-size: 1.5em;
}

.organization {
font-size: 1.5em;
}

.date {
margin-top:2px;
margin-bottom:0;
margin-left:0;
margin-right:0;
}

.description {
margin-top:1opx;
margin-bottom:10px;
margin-left:0;
margin-right:0;
}
.menu
margin-top:0;
margin-bottom:0;
margin-left:0;
margin-right:0;

#container {
width:100%;
max-width: 1200px;
margin: 0 auto;
}

.footer {
background-color:#fff;
color:white;
text-align:center;
font-size:1em;
font-family: 'Montserrat', sans-serif;
padding-top: 5px;
padding-bottom: 5px;
}

/* top nav  / top hat */
.nav-top {
 color:#fff;
margin: 0 auto;
text-transform:uppercase;
font-weight: 700;
}
.red {
color:#f23030
}

/* thero splash area */
.hero-container {
  postion:relative;
  text-align:center;
  color:#fff;
}
.hero-image {
  width: 100%;
}

.overlay {
  position:absolute;
  top:20%
  width:100%
  background-color:#000;
  opacity: .7;

.hero-hed {
font-family:'Playfair Display', serif;
font-size:6em;
color:#fff;
margin: 0 auto;

.hero-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6 {
font-family:'Montserr', sans-serif;
font-size:25em;
