
BODY {
font-family: 'Open Sans', arial, sans-serif;
color:#444;
font-weight: 400;
}

  #name {
color: #33485e;
text-transform:uppercase;
text-align: center;
font-size:3em;
border-bottom:1px solid; #33485e;
width:60%;
min-width:300px;
margin 0 auto;
}



#title {
color:#33485e;
text-transform:uppercase;
font-size: 1.5em;
font-weight: 600;
margin-top:20px;
margin-bottom:0;
margin-left:0;
margin-right:0;

}

.sectionheader {
font-size:1.5em;
text-transform:uppercase;
background-color:#33485e;
color:#ffffff;
margin-top:20px;
margin-bottom:10px;
margin-left:0;
margin-right:0;
width:70%;
mid-width:300px;
}

.jobtitle {
font-weight:600;
font-size: 1.5em;
}

.organization {
font-size: 1.5em;
}

.date {
margin-top:2px;
margin-bottom:0;
margin-left:0;
margin-right:0;
}

.description {
margin-top:1opx;
margin-bottom:10px;
margin-left:0;
margin-right:0;
}
.menu
margin-top:0;
margin-bottom:0;
margin-left:0;
margin-right:0;

#container {
width:100%;
max-width: 1200px;
margin: 0 auto;
}

.footer {
background-color:black;
color:white;
text-align:center;
font-size:1em;
font-family: 'Montserrat', sans-serif;
padding-top: 5px;
padding-bottom: 5px;
}
